.card {
  background: #fff;
  border: 1px solid #ccc;
  .hero-top {
    width: 100%;
    img {
      width: 370px;
      height: 200px;
      padding: 0;
      margin: 0;
      object-fit: cover;
    }
    margin: 0;
    padding: 0;
  }
  .hero-body {
    text-align: center;
    margin: 0;
    padding: 2rem;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    span {
      background-color: #eee;
      padding: 4px 10px;
      margin-left: 1rem;
      border-radius: 7px;
    }
  }

  .hero-footer {
    padding: 1rem;
    background-color: #eee;
    display: flex;
    justify-content: space-between;

    a {
      svg {
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
          color: cyan;
        }
      }
    }
  }
}
