.hero_sobre {
  margin-top: -5rem;
  padding-top: 5rem;
  height: 100vh;
  background: #fff;
  position: relative;
  margin-bottom: 5rem;
}

.hero-center {
  height: 100%;
  display: grid;
  align-items: center;
}

.hero-info {
  text-align: center;

  span {
    width: 100%;
    color: var(--clr-dark);
    text-align: center;
    margin-bottom: 0;
  }
  p {
    width: 100%;
    color: var(--clr-dark);
    text-align: center;
  }
  h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--clr-dark);
  }
  .social-links {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    svg {
      margin: 0 1rem;
      width: 2rem;
      height: 2rem;
      color: #000;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: scale(1.5);
        color: var(--clr-primary-6);
      }
    }
  }
}
.hero-img2 {
  display: block;
  width: 100%;
  padding: 50px;
}
.hero-img-svg {
  display: none;
}

.hero-info h1 {
  color: var(--clr-dark);
}
.hero-info h4 {
  color: var(--clr-dark);
}
.hero-icons {
  justify-items: center;
}
.hero_sobre .btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  .hero_sobre {
    margin-bottom: 0;
  }
  .hero_sobre::before {
    content: "";
    position: absolute;
    top: 0;
    left: 55%;
    right: 0;
    bottom: 0;
    background: var(--clr-white);
  }
  .hero-img2 {
    display: block;
    z-index: 999;
    width: 100%;
    border-radius: 1rem;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 1rem !important;
  }
  .hero-center {
    grid-template-columns: repeat(12, 1fr);
  }

  .hero_sobre h4 {
    font-size: 0.85rem;
  }
  .hero-info {
    grid-row: 1/1;
    grid-column: 1 / span 10;
    text-align: start;

    span {
      width: 100%;
      color: var(--clr-dark);
      text-align: left;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 900;
      color: var(--clr-dark);
    }
    p {
      width: 70%;
      color: var(--clr-dark);
      text-align: start;
      line-height: 2;
    }

    .social-links {
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 3rem;
      margin-left: 0;
      padding: 0;
      svg {
        margin: 0 2rem;
        width: 2rem;
        height: 2rem;
        color: #000;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.5);
          color: var(--clr-primary-6);
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
  .hero-img2 {
    display: block;
    grid-row: 1;
    grid-column: 9/-1;
    z-index: 999;
    margin-top: -2rem;
    border-radius: 1rem;
  }
  .hero-img-svg {
    width: 100%;
    position: relative;
    display: block;
    grid-row: 1/1;
    grid-column: 7/-1;
  }
  .hero_sobre .underline {
    margin-bottom: 0.5rem;
    margin-left: 0;
    text-align: center;
  }
}
@media screen and (min-width: 1170px) {
  .hero_sobre h4 {
    font-size: 1rem;
  }

  .hero-info {
    grid-column: 1 / span 8;
  }

  .hero_sobre h4 {
    line-height: 1;
  }
}
